<%- include('partials/header.ejs') %>
	<div class="container-fluid">
		<div class="row">
			<div class="sidebar border border-right col-md-4 col-lg-3 px-3 bg-body-tertiary">
				<%- include('partials/sidebar.ejs', {
					listNames: listNames
					}) %>
			</div>
				
			<main class="col-md-8 ms-sm-auto col-lg-9 custom-pudding">
				<div class="container text-center">
					<%- include('partials/list.ejs', {
						list: list
						}) %>
				</div>
			</main>
		</div>
	</div>

</body>
</html>