body {
	display: block;
	font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
	  helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
}
header {
	display: block;
	position: sticky;
	background: #040035;
	color: hotpink;
	font-size: 2rem;
	padding-top: 20px;
	padding-bottom: 20px;
}
h1 {
	margin: 10px;
}
h2 {
	color: #000000;
	font-size: 1.5rem;
}
footer {
	color: #000000;
	display: block;
	bottom: 0;
}
button {
	background-color: transparent;
	border: none;
}

.card {
	background-color: darkorange;
}

.row {
	height: 100vh;
}

.custom-pudding {
	padding-left: 10%;
	padding-right: 10%;
}

.active {
	background-color: aquamarine; /* Change background color for active item */
	color: #fff;
	border-radius: 5px;
}
.nav-item:hover {
	background-color: aquamarine;
	border-radius: 5px;
}

.delete-btn {
	display: none;
	color: aqua;
}

.list-group-item:hover .delete-btn {
	display: inline-block;
}
.nav-item:hover .delete-btn {
	display: inline-block;
}
.list-group-item:hover .delete-btn img {
	color: aqua !important;
	fill: aqua !important;
}