body {
	background: #222;
	font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
	  helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
}

header {
	color: hotpink;
	font-size: 2rem;
}

h1 {
	margin: 10px;
}

h2 {
	color: white;
	font-size: 1rem;
}

footer {
	color: white;
	position: absolute;
	bottom: 0;
  }